{% extends "contacts/person/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}: {% trans "Edit" %} {{ object }}{% endblock %}

{% block content %}
	<h1>{% trans "Edit" %} {{ object }}</h1>
	<form action="." method="post" class='form-inline' accept-charset="utf-8" novalidate>
    <p>{% crispy form %}</p>
    
		<p>{% include "contacts/_phone_number_form.html" %}</p>
		<p>{% include "contacts/_email_address_form.html" %}</p>
		<p>{% include "contacts/_web_site_form.html" %}</p>
		<p>{% include "contacts/_street_address_form.html" %}</p>

		<p><input type="submit" value="{% trans "Save" %}"></p>
	</form>
{% endblock %}